body {
	background-color: silver;
}

/* Home */

#img {
	height: 600px;
	width:600px;
	border: 5px solid black;
	border-radius: 20px;
	margin-bottom: 20px;
	padding: 10px;
}




/* NavBar */

.nav {
	background-color: slateblue;
	height: 40px;
	padding-top: 12px;
}

.nav a {
	color: white;
	border-radius:10px;
	padding: 0.5% 1%;
	text-decoration: none;
	margin: 35px;
	font-size: 20px;
	font-weight: bolder;
}
.nav a:hover {
	background-color: #9D94D7;
}

.feedbackform #ipt {
	margin-right: 20px;
}

.feedbackform #ta {
	width: 400px;
}



