.row
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

#HomeImg {
	width: 580px;
	height: 600px;
    	border: 4px solid slateblue;	
    	border-radius: 15px;
    	padding : 5px;
	margin: 20px;
}

#HomeImg {
  filter: brightness(80%);
}

#HomeImg:hover{
  filter: brightness(100%);
}