/* Send OTP */
h1 {
	color: white;
}

.sendOtp {
	margin-top: 6%;
	width: 40%;
	padding: 10px;
	padding-bottom: 40px;
  	box-shadow: 0 1px 0px 0 slateblue, 0 6px 15px 0 slateblue;
}

.sendOtp #name {
	width: 40%;
	margin-right: 4%;
	padding: 2%;
	font-size: 18px;
	outline: none;
	font-weight: bolder;
	color: white;
	background-color: transparent;
	border: 2px solid slateblue;
}
 
.sendOtp #phone {
	width: 40%;
	padding: 2%;
	font-size: 18px;
	outline: none;
	font-weight: bolder;
	color: white;
	background-color: transparent;
	border: 2px solid slateblue;
}
.sendOtp #college {
	width: 40%;
	margin-right: 4%;
	padding: 2%;
	font-size: 18px;
	outline: none;
	font-weight: bolder;
	color: white;
	background-color: transparent;
	border: 2px solid slateblue;
}
.sendOtp #email {
	width: 40%;
	padding: 2%;
	font-size: 18px;
	outline: none;
	font-weight: bolder;
	color: white;
	background-color: transparent;
	border: 2px solid slateblue;
}
.sendOtp #ta {
	width: 88%;
	padding: 2%;
	font-size: 18px;
	outline: none;
	font-weight: bolder;
	color: white;
	background-color: transparent;
	border: 2px solid slateblue;
	resize: none;
}

.sendOtp #btn {
	margin-top: 5%;
	outline: none;
	font-size: 15px;
	color: white;
	font-weight: bolder;
	background-color: slateblue;
	border: none;
	width: 90%;
	padding: 2%;
}

.sendOtp #btn:hover {
	background-color: #5044b3;
}

/* Submit OTP */

.submitOtp {
	margin-top: 6%;
	//border: 3px solid white;
	width: 30%;
	padding: 20px;
  	box-shadow: 0 1px 0px 0 slateblue, 0 6px 15px 0 slateblue;
}
.submitOtp #otp {
	width: 80%;
	padding: 2%;
	font-size: 18px;
	outline: none;
	font-weight: bolder;
	color: white;
	background-color: transparent;
	border: 2px solid slateblue;
}

.submitOtp #btn {
	outline: none;
	font-size: 15px;
	color: white;
	font-weight: bolder;
	background-color: slateblue;
	border: none;
	width: 85%;
	padding: 2%;	
}
